.cellRect {
    fill: transparent;
}

.cell {
    width: 1px;
    height: 1px;
    &:hover, &.active {
        .cellRect {
            fill: #fff2;
        }
    }

    text-anchor: middle;
    dominant-baseline: central;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    paint-order: stroke fill;
    pointer-events: none;
    user-select: none;
    text {
        fill: #fff;
        stroke: #fff;
        stroke-width: 0.05em;
        width: 100%;
    }

    .cornerMark {
        font-size: 0.6em;
    }

    .centerMark {
        letter-spacing: -0.1em;
        font-size: 0.6em;
        &[data-count="5"] {
            font-size: 0.55em;
        }
        &[data-count="6"] {
            font-size: 0.48em;
        }
        &[data-count="7"] {
            font-size: 0.42em;
        }
        &[data-count="8"] {
            font-size: 0.36em;
        }
        &[data-count="9"] {
            font-size: 0.32em;
        }
    }

    .cellValue {
        stroke: transparent;
    }
    
    .cellValue, .given {
        font-size: 1.5em;
    }
    
    .given {
        stroke: #fff;
        fill: #333;
    }
}