.cellGrid {
    stroke-width: 0.025em;
    stroke: #555;
}

.selection {
    stroke: aqua;
    fill:aqua;
    fill-opacity: 0.25;
    stroke-width: 0.25em;
    opacity: 0.5;
    stroke-linecap: square;
}

.svg {
    fill: none;
}