.root {
    fill: red;
    fill-opacity: 0.5;
    opacity: 0.5;
    stroke: red;
    stroke-width: 0.125em;
}

.filled {
    fill: green;
    fill-opacity: 0.5;
    opacity: 0.5;
    stroke: green;
    stroke-width: 0.125em;
}
