.error {
    fill: red;
    fill-opacity: 0.5;
    opacity: 0.5;
    stroke: red;
    stroke-width: 0.125em;
}

.warning {
    fill: orange;
    fill-opacity: 0.5;
    opacity: 0.5;
    stroke: orange;
    stroke-width: 0.125em;
}

.success {
    fill: green;
    fill-opacity: 0.5;
    opacity: 0.5;
    stroke: green;
    stroke-width: 0.125em;
}
