.error, .warning, .success {
    fill-opacity: 0.5;
    opacity: 0.75;
    stroke-width: 0.125em;
}

.error {
    fill: var(--validation-color-error);
    stroke: var(--validation-color-error);
}

.warning {
    fill: var(--validation-color-warning);
    stroke: var(--validation-color-warning);
}

.success {
    fill: var(--validation-color-success);
    stroke: var(--validation-color-success);
}
